@import "../../../constants";

.constructor {
  &__middle {
    display: flex;
    gap: 20px;

    &__pagination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 30px;

      .title {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .score {
      width: 289px;
      height: 608px;

      &__title {
        display: flex;
        align-items: center;
        height: 45px;
        font-family: $TekturMedium;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 12px;
      }
    }
  }

  .picker {
    display: flex;
    gap: 20px;
  }

  &__end {
    display: flex;
    gap: 20px;

    .ant-progress-line {
      width: 804px;
    }
  }

  .ant-progress-show-info .ant-progress-outer {
    margin-right: 0;
    padding-right: 0;
  }

  .ant-progress-text {
    display: none;
  }
}