@import '../../../../../constants';

.ant-ribbon-wrapper {
  .ant-ribbon {
    top: 33px;
  }
}

.card {
  width: 500px;
  .ant-card-body {
    height: 325px;
  }

  .ant-card-body {
    padding: 32px 24px;
  }

  &__avatar {
    display: block;
    margin: 0 auto;
  }

  &__info {
    margin: 8px 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    .card__name {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
    }

    .card__direction {
      font-size: 10px;
      color: $darkGray;
    }
  }

  &__review {
    text-align: left;
    margin: 0;
    height: 115px;
    overflow-y: auto;
  }
}