@import '../../../../../constants';

.ant-ribbon-wrapper {
  @media screen and (max-width: 570px) {
    width: 98%;
  }

  .ant-ribbon {
    top: 33px;
  }
}

.card {
  width: 500px;

  @media screen and (max-width: 570px) {
    width: 100%;
  }

  .ant-card-body {
    height: 325px;
    padding: 32px 24px;

    @media screen and (max-width: 570px) {
      padding: 12px;
      height: auto;
    }
  }

  &__avatar {
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 570px) {
      width: 50px !important;
      height: 50px !important;
    }
  }

  &__info {
    margin: 8px 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    .card__name {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
    }

    .card__direction {
      font-size: 10px;
      color: $darkGray;
      display: block;
      line-height: initial;
    }
  }

  &__review {
    text-align: left;
    margin: 0;
    height: 115px;
    overflow-y: auto;

    @media screen and (max-width: 570px) {
      font-size: 12px;
    }
  }
}