@import "../../../../constants";

.profession__salaries {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  padding: 8px 13px;
  z-index: 2;
  position: relative;

  .divider {
    background-color: rgba(0, 0, 0, 0.25);
    height: 22px;
  }

  .profession__salary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1;

    &.medianSalary {
      .salary__number {
        color: $orange;
      }

      .salary__title {
        color: $orange;
      }
    }

    .salary__number {
      font-family: $NotoSans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: rgba(0, 0, 0, 0.85);
    }

    .salary__title {
      font-family: $NotoSans;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 130%;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}