.inner {
  padding: 100px 0;
  width: 1216px;
  margin: 0 auto;
  display: flex;
  gap: 128px;
  flex-direction: column;
  flex: 1;

  @media screen and (max-width: 1216px) {
    width: 100%;
  }

  @media screen and (max-width: 821px) {
    padding: 32px 0;
    gap: 32px;
  }
}