@import "../../../../constants";

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
  }

  @media screen and (min-width: 960px) {
    width: 81px;
  }
}