@import "../../../../constants";

.card {
  display: grid;
  grid-template-columns: 95px 1fr;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: 300ms;

  &:hover, &.selected {
    cursor: pointer;
    border: 1px solid $orange;

    .card__code__wrapper {
      .inner {
        .number {
          color: $orange;
        }
      }
    }

    .card__info {
      .info__title {
        color: $orange;
      }
    }
  }

  &__code__wrapper {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    .inner {
      .number {
        display: block;
        color: #1890FF;
        font-family: $TekturRegular;
        font-size: 36px;
        line-height: initial;
        transition: 300ms;
      }
    }
  }

  &__info {
    padding: 16px 24px;

    .info__title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: $fontBlue;
      transition: 300ms;
    }

    .info__list {
      font-size: 16px;

      .item__title {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}