@import "../../../../constants";

.card {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: 300ms;
  height: 100%;

  &:hover {
    cursor: pointer;
    border: 1px solid $darkBlue;

    .card__info {
      .info__title {
        color: $darkBlue;
      }
    }
  }

  &.selected {
    border: 1px solid $orange;

    .card__code__wrapper {
      .inner {
        .number {
          color: $orange;
        }
      }
    }

    .card__info {
      .info__title {
        color: $orange;
      }
    }
  }

  &__info {
    padding: 16px 24px;
    width: 100%;

    .info__title {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: $fontBlue;
      transition: 300ms;

      @media screen and (max-width: 400px) {
        font-size: 15px;
      }
    }

    .info__list {
      font-size: 16px;
      width: 100%;

      .info__statistic {
        @media screen and (max-width: 768px) {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        @media screen and (max-width: 400px) {
          font-size: 12px;
        }
      }

      .item__title {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}