.inner {
  padding: 50px 0;
  width: 1216px;
  margin: 0 auto;
  display: flex;
  gap: 100px;
  flex-direction: column;
  flex: 1;

  .image {
    width: 450px;
    height: auto;
    margin: 0 auto;

    @media screen and (max-width: 821px) {
      width: 90%;
    }
  }

  .ant-space-item {
    @media screen and (max-width: 821px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1216px) {
    width: 100%;
  }

  @media screen and (max-width: 821px) {
    padding: 10px 0 64px 0;
    gap: 32px;
  }
}