.wrapper {
  position: relative;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__background {
    background: linear-gradient(224.71deg, #40A9FF 16.36%, #0084EF 24.43%, #0267BA 32.82%);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 100%, 0 75%, 35% 0, 100% 75%, 100% 100%);
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  &__row {
    z-index: 1;
    margin: 0 !important;

    .row__info {
      padding-left: 0 !important;
      padding-bottom: 113px;

      .info__title {
        color: white;
        margin-bottom: 32px;
      }

      .info__text {
        color: white;
        margin-bottom: 64px;
        width: 330px
      }
    }

    .row__image {
      padding-right: 0 !important;
    }
  }
}