@import "../../../constants";

.intro {
  padding: 95px 0 75px;
  box-sizing: border-box;
  background-image: url("../../../images/main_page/intro_all_hexagons.svg");
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 84% 100%, 12% 85%, 0 35%);
  margin: 0 !important;
  width: 100%;

  &__image {
    padding-right: 0 !important;
  }

  &__info {
    color: #FFFFFF;
    padding-left: 0 !important;
    padding-top: 35px;

    .info__title {
      margin-bottom: 32px;
      font-family: $TekturMedium;
      width: 500px;
    }

    .info__text {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 48px;
    }
  }
}