@import "../../../../../constants";

.module_wrapper {
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  &__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
  }

  &__blue_title {
    font-size: 16px;
    color: $fontBlue;
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  &__placeholder {
    width: 345px;
    height: 65px;
    padding: 8px;
    margin: 8px 0;
    gap: 8px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23D9D9D9FF' stroke-width='2' stroke-dasharray='7%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 300;

    &__strong {
      color: $blue;
    }
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
    align-items: center;
    color: inherit;

    .ant-collapse-header-text {
      font-size: 16px;
      color: inherit;
    }
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
}