@import "../../../../../constants";

.module_wrapper {
  width: 345px;
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  &__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);

    &__target {
      color: $orange;
    }

    &__finish {
      color: #73D13D;
    }
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  &__placeholder {
    width: 345px;
    height: 65px;
    padding: 8px;
    margin: 8px 0;
    gap: 8px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 300;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &__empty_background {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23D9D9D9FF' stroke-width='2' stroke-dasharray='7%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &__target_background {
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23FA8C16FF' stroke-width='2' stroke-dasharray='7%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
  }

  .panel-icon {
    font-size: 18px;
    color: #BFBFBF;
    cursor: default;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
    align-items: baseline;
    color: inherit;

    .ant-collapse-header-text {
      font-size: 16px;
      color: inherit;
    }
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
  }
}