@import "../../../../constants";

.wrapper {
  position: relative;
  width: 289px;
  align-items: center;
  height: calc(100% - 45px - 12px);
  flex-direction: column;

  .doughnut_wrapper {
    position: relative;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1216px) {
      width: 118px;
      height: 118px;
    }
  }

  &__track_icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 1216px) {
      width: 60px;
      height: 60px;
    }
  }

  &__placeholder_image {
    width: 100%;
    height: auto;
  }

  &__placeholder_text {
    color: #00000073;
    font-size: 16px;
    text-align: center;
  }

  & .ant-space-item:last-child {
    height: calc(100% - 230px - 24px);
    overflow-y:  auto;
    padding-right: 5px;
  }

  @media screen and (max-width: 1216px) {
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: center;

    & .ant-space-item:last-child {
      height: 100%;
    }

    .legend {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}