@import "../../constants";

.layout {
    min-height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 820px) {
            min-height: calc(100vh - 40px);
        }
    }
}