@import "../../../../constants";

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 47px;
  background-color: white;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  color: black;
  font-family: $TekturRegular;
  font-size: 20px;
  box-sizing: border-box;
}