.progress-wrapper {
  width: 100%;

  .ant-space-item:nth-child(2) {
    height: 15px;

    .progress {
      height: 15px;

      .ant-progress-outer {
        .ant-progress-inner {
          padding: 1px;
          border: 1px solid white;
          border-radius: 10px;

          .ant-progress-bg {
            opacity: 70%;
          }
        }
      }
    }
  }
}