@import "../../../constants";

.header {
  height: 80px;
  background-color: #FFFFFF;
  padding: 0 20px;

  .header__inner {
    height: 100%;
    width: 1216px;
    margin: auto;
    
    @media screen and (max-width: 1216px) {
      width: auto;
    }
  }

  @media screen and (max-width: 820px) {
    line-height: inherit;
    height: 40px;
  }
}