@import '../../../../constants';

.navbar {
  border: none;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;

  .ant-menu-item:hover a, .ant-menu-item-selected a {
    color: $blue !important;
    border-bottom-color: $darkBlue;
  }
}