@import "../../../../../../constants";

.disciplins-list {
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  .ant-list-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px 2px 0 0;

    @media print {
      font-size: 10px;
      line-height: 130%;
      padding: 5px;
    }

    .primary {
      color: $fontBlue;
    }
  }

  .discipline-item {
    cursor: pointer;

    @media print {
      font-size: 10px !important;
      line-height: 130%;
      padding: 6px 10px !important;
    }

    .item-inner {
      width: 100%;

      &:hover {
        color: $fontBlue;
      }

      &:active {
        color: $darkBlue;
      }

      .ant-space-item:has(.tags-list) {
        margin-left: auto;
      }
    }
  }


  .ant-list-empty-text {
    text-align: left;
    color: rgba(0, 0, 0, 0.45);

    @media print {
      font-size: 10px !important;
      line-height: 130%;
      padding: 4px 8px !important;
    }
  }
}