@import "../../../constants";

.inner {
  padding: 64px 0;
  width: 1216px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media screen and (max-width: 1216px) {
    width: auto;
  }

  @media screen and (max-width: 768px) {
    padding: 32px 0;
  }

  .pageHeader {
    display: grid;
    gap: 32px;

    @media screen and (max-width: 768px) {
      gap: 16px;
    }

    .title {
      text-align: center;
    }

    .direction {
      display: block;
      text-align: center;
      color: $fontBlue;
    }
  }

  .content {
    padding: 54px 0 32px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media screen and (max-width: 768px) {
      padding: 24px 0;
    }
  }
}