@import "../../../../../constants";

.profession-card {
  .main-content {
    display: grid;
    grid-template-columns: 290px 1fr;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    min-height: 200px;
    position: relative;
    z-index: 2;
    background-color: white;
    cursor: pointer;

    .main-content__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .main-content__body {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .body__title {
        font-family: $NotoSans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: rgba(0, 0, 0, 0.85);
      }

      .body__bottom {
        display: grid;
        grid-template-columns: 450px 1fr;
        align-items: flex-end;

        @media screen and (max-width: 1216px) {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          gap: 10px;
        }

        .bottom__salary-chart {
          @media screen and (max-width: 1216px) {
            flex: 1;
          }
        }

        .bottom__tag {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .secondary-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      gap: 8px;
    }

    .secondary-content__description {
      font-family: $NotoSans;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: rgba(0, 0, 0, 0.85);

      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
  }
}