.wrapper {
  background-image: url("../../../images/page_bg.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex: 1;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1216px) {
    padding: 0 20px;
  }
}