@import "./../../constants";

.wrapper {
  width: 907px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  justify-items: center;

  @media screen and (max-width: 1237px) {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media screen and (max-width: 670px) {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}