.wrapper {
  width: 1007px;
  height: 522px;
  margin: 0 auto;
  position: relative;

  .player {
    width: 1007px;

    @media screen and (max-width: 1216px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1216px) {
    width: 100%;
    height: auto;
  }
}