.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  .spaceBlock {
    gap: 16px;

    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #1890FF;
    }

    .player {
      width: 100%;

      @media screen and (max-width: 1216px) {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1216px) {
    width: 100%;
    height: auto;
  }
}