/* Colors */
$extraDarkBlue: #0050B3;
$darkBlue: #096DD9;
$fontBlue: #1890FF;
$blue: #40A9FF;
$lightBlue: #69C0FF;
$extraLightBlue: #91D5FF;

$red: #FF4D4F;

$extraDarkOrange: #AD4E00;
$superDarkOrange: #D46B08;
$darkOrange: #EF6C00;
$orange: #FA8C16;
$lightOrange: #FFC069;
$extraLightOrange: #FFD591;

$darkGray: #BFBFBF;
$gray: #D9D9D9;
$lightGray: #F0F2F5;
/*-----------------*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

@font-face {
  font-family: "TekturMedium";
  src: local("Tektur"), url("./fonts/Tektur/Tektur-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TekturRegular";
  src: local("Tektur"), url("./fonts/Tektur/Tektur-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TekturBold";
  src: local("Tektur"), url("./fonts/Tektur/Tektur-Bold.ttf") format("truetype");
}

$TekturMedium:  "TekturMedium", sans-serif;
$TekturRegular:  "TekturRegular", sans-serif;
$TekturBold:  "TekturBold", sans-serif;
$NotoSans:  "Noto Sans", sans-serif;

$fontWeight: 400;

$h1-fontSize: 48px;
$h2-fontSize: 40px;
$h3-fontSize: 36px;
$h4-fontSize: 32px;
$h5-fontSize: 24px;
/*-----------------*/