.academicPlanWrapper {
  width: 1216px;
  margin: 0 auto;

  @media screen and (max-width: 1216px) {
    width: auto;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
